<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdcconcepts.androidapp.politicianconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.mdcconcepts.androidapp.politicianconnect.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mdcconcepts.androidapp.politicianconnect.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.LanguageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".gallary.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdcconcepts.androidapp.politicianconnect.HomeActivity" />
        </activity>
        <activity
            android:name=".gallary.GalleryViewActivity"
            android:label="@string/title_activity_gallery_view"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdcconcepts.androidapp.politicianconnect.gallary.GalleryActivity" />
        </activity>
        <activity
            android:name=".politician.PoliticianInformationActivity"
            android:label="@string/title_activity_politician_information"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdcconcepts.androidapp.politicianconnect.HomeActivity" />
        </activity>
        <activity
            android:name=".fragments.services.shopping.sub_shopping.ShoppingProduct"
            android:label="@string/title_activity_shopping_product"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.services.subservice.SubServiceActivity"
            android:label="@string/title_activity_sub_service"
            android:screenOrientation="portrait" />
        <activity
            android:name=".politician.OperationsActivity"
            android:label="@string/title_activity_operations"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdcconcepts.androidapp.politicianconnect.HomeActivity" />
        </activity>
        <activity
            android:name=".fragments.user_connect.UserConnectActivity"
            android:label="@string/title_activity_user_connect"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdcconcepts.androidapp.politicianconnect.HomeActivity" />
        </activity>
        <activity
            android:name=".fragments.user_connect.ChatRoomActivity"
            android:label="@string/title_activity_chat_room"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdcconcepts.androidapp.politicianconnect.fragments.user_connect.UserConnectActivity" />
        </activity>
        <activity
            android:name=".politician.MLAContactActivity"
            android:label="@string/title_activity_mlacontact"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdcconcepts.androidapp.politicianconnect.HomeActivity" />
        </activity>
        <activity
            android:name=".politician.MessageActivity"
            android:label="@string/title_activity_message"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdcconcepts.androidapp.politicianconnect.HomeActivity" />
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.androidhive.pushnotifications" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <activity
            android:name=".common.SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdcconcepts.androidapp.politicianconnect.HomeActivity" />
        </activity>
    </application>

</manifest>
